<div class="container">
<h1>Log In</h1>
	<%= form_for :user , url: sessions_path do |f| %>
	<p><%= f.email_field :email, placeholder: "Email" %></p>
	<p><%= f.password_field :password, placeholder: "Password" %></p>
	<%= f.submit "Log In", class: "btn btn-primary" %>
	<% end %>	
</div>