<div class="container-fluid">
	<div class="row">
		<center>
			<h3>The Vividkick Team</h3>
		</center>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6" >
			<center>
				<p>
					<h4>Erin</h4>
				</p>
				<img src="/assets/erin.png" id="erinpicture">
			</center>	
		</div>
		<div class="col-md-6" >
			<center>
				<p>
					<h4>Tim</h4>
				</p>
				<img src="/assets/tim.png" id="timpicture">
			</center>
		</div>
	</div>
</div>