// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container-description {
	background-color: white;

}

.pull-me{
    -webkit-box-shadow: 0 0 8px f5f5f5;
    -moz-box-shadow: 0 0 8px f5f5f5;
    box-shadow: 0 0 8px f5f5f5;
    cursor:pointer;
    padding-bottom: 25px;
    border-radius: 3px;
}
.panel {
	background: #f5f5f5;
    background-size:90% 90%;
    height:300px;
	display:none;
    font-family:'PT Sans';
}
.panel p{
    text-align:center;
}
.slide {
	margin:0;
	padding:0;
	/*border-top:solid 2px #ffffff;*/
}
.pull-me {
	display:block;
    width:150px;
    height:20px;
	font-family:'PT Sans';
    font-size:18px;
	color:#ffffff;
    background:#428bca;
	text-decoration:none;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
   
}
.pull-me p {
    text-align:center;
}